.registration{
    text-align: center;
    margin-top: 40px;
    margin-left: 450px;
    padding: 10px;
    width: 40%;
    background-color: black;
    border-radius: 10px
}
.registration h1 {
    padding-bottom: 30px;
    font-size: 55px;   
}
