:root {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100%;
  background-color: #1ED760;
  background-image: linear-gradient(#00511ed3,#1c1c1c );
  color: white;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}